@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    
    font-family: 'Titillium Web', Courier, monospace ;    
}
body{
    background-image: url("../imgs/dark\ onda.jpg");
    background-size: cover;
}

.index__container{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentacao{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.eu__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.meu__nome{
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
}
.objetivo{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.img__skills{
    width: 150px;
}
.accordion-body{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.conteudo__skills p{
    font-size: 20px;
}
 