@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    
    font-family: 'Titillium Web', Courier, monospace ;    
}
body{
    background-image: url("../imgs/dark\ onda.jpg");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
}

.index__container{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentacao{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.eu__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.meu__nome{
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}
.objetivo{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.img__skills{
    width: 150px;
    height: 160px;
}

.p__skill{
    font-weight: bold;
}

.accordion-body{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.conteudo__skills p{
    font-size: 20px;
}
.titulo__projrtos{
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 1;
} 

.container__projetos{
    background-color: aliceblue;
    opacity: 1;
}
.img__projeto{
    /* border: 1px solid palevioletred; */
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.desc__projeto{
    width: 100%;
    /* border: 1px solid palevioletred; */
    padding: 20px 0;
}
.imagem__projeto{
    width: 100%;
}
.card_projetos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid gray;
}
.paragrafo__projeto{
    text-indent: 30px;
}


.container__sobre{
    background-color: aliceblue;
    padding-bottom: 20px;
    margin-bottom: 15px;
    
}
.container__skills{
    background-color: aliceblue;
    padding-bottom: 20px;
    margin-bottom: 15px;
}


.titulo__principal{
    font-weight: bold;
}
.tecnologias h4{
    font-weight: bold;
}

.desc__projeto h4{
font-weight: bold;
}

.sobre__mim{
    text-indent: 30px;
    font-size: 20px;
}
.icones{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.icones i{
color: aliceblue;
font-size: 40px;
}
@media(min-width:1024px){
   
    .img__projeto{
        /* border: 1px solid palevioletred; */
        width: 400px;
        height: 320px;
    }
    .desc__projeto{
        width: 400px;
        /* border: 1px solid palevioletred; */
        
    }
    .imagem__projeto{
        width: 400px;
        height: 300px;
    }
    .card_projetos{
        width: 100%;
        justify-content: space-around;
    }  
    .tecnologias{
        width: 200px;
        padding-top: 20px;
    }
    .container__sobre{
        height: 85vh;
    }
    .icones{
        width: 40%;
      
    }
}